.div-form-left {
    margin-right: 10px;
}

.div-form-left,
.div-infor-obs,
.div-objetos0,
.div-objetos1 {
    display: flex;
    flex-direction: column;
}

.div-objetos {
    display: flex;
    gap: 10px;
}