@font-face {
    font-family: 'emmaus';
    src: url(../css/fonts/emmaus/Platelet_0.ttf);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.body {
    display: flex;
    min-height: 100vh;
}

.main {
    display: flex;
}

.label {
    color: gray;
}

.label.cursor {
    cursor: pointer;
}

.legend {
    text-align: center;
    text-shadow: 1px 1px 0.5px #AAF998;
    padding-bottom: 5px;
}

.form {
    display: flex;
    flex-direction: column;
}

.div-form-left {
    margin-right: 10px;
}

.div-infor-obs,
.div-objetos0,
.div-objetos1 {
    display: flex;
    flex-direction: column;
}

.div-objetos {
    display: flex;
    gap: 10px;
}

.form .inputtext {
    width: 270px;
    padding: 6px 0 6px 10px;
    border-bottom: 0.5px solid #79D1FF;
    border-left: 0.5px solid #79D1FF;
    border-bottom-left-radius: 10px;
}

.form .divbtn {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.form .divinput {
    display: flex;
    margin: 5px 0;
    justify-content: center;
}

.ocutar {
    display: none;
}

.form .btninput {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: #AAF998;
    border-radius: 5px;
    text-shadow: 1px 1px 0.5px #79D1FF;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.form .btninput:hover {
    background-color: #79D1FF;
    transition: 0.3s ease-in-out;
    text-shadow: 1px 1px 0.5px #AAF998;
}

.fieldset-doador {
    display: flex;
    flex-direction: column;
}