.body .container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.header {
    display: flex;
    align-self: flex-start;
}

.indexnavmenu {
    position: fixed;
    width: 250px;
    height: 100vh;
    border-right: solid 3px #79D1FF;
    background-color: #AAF998;
    transition: .3s ease-in-out;
}

.icon-empress {
    display: flex;
    width: 100px;
    background: none;
    padding: 20px 0;
    margin: 0 auto;
    transition: .3s ease-in-out;
}

.limenu {
    background-color: #AAF998;
}

.limenu.activa {
    background-color: #79D1FF;;
}

.limenu:hover {
    background-color: #79D1FF;
}

.limenu a {
    display: flex;
    align-items: center;
    background: none;
    padding: 15px;
}

.limenu .icon-li {
    width: 40px;
    margin-right: 20px;
    background: none;
}

.limenu .text-li {
    font-size: 18px;
    background: none;
    transition: .3s ease-in-out;
}

.sectionmenu {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-left: 260px;
    transition: .3s ease-in-out;
}

.sectionmenu iframe {
    display: flex;
    width: 100%;
    height: 100vh;
    padding-top: 15px;
}

@media (max-width: 1080px) {
    .indexnavmenu {
        width: 75px;
    }
    
    .limenu .text-li {
        display: none;
    }

    .icon-empress {
        width: 50px;
    }

    .sectionmenu {
        margin-left: 85px;   
    }
}