body {
    min-height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}

.relatory-0 {
    display: flex;
    width: 100%;
    height: 50vh;
}

.container-relatory-1-2 {
    display: flex;
    width: 100%;
    height: 50vh;
}

.relatory-1,
.relatory-2 {
    display: flex;
}