@font-face {
    font-family: 'emmaus';
    src: url(../css/fonts/emmaus/Platelet_0.ttf);
}

body {
    min-height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.div-relatory {
    width: 100%;
    height: 100%;
    display: flex;
}

.section-relatory {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.h1 {
    font-size: 18px;
}

.h2,
.h1 {
    color: gray;
    text-shadow: 1px 1px 0.5px #AAF998;
}