@font-face {
    font-family: 'emmaus';
    src: url(../css/fonts/emmaus/Platelet_0.ttf);
}

textarea {
    resize: none;
}

fieldset[disabled] input, fieldset[disabled] textarea {
    border: none;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.h1 {
    padding: 20px;
    text-transform: uppercase;
    font-family: 'emmaus';
    font-size: 28px;
    text-shadow: 2px 2px #AAF998;
}

.main {
    display: grid;
    grid-template-areas: "numeroficha numeroficha"
                         "infordoador inforobjetos";
    column-gap: 10px;
}

.form.formnumeroficha {
    grid-area: numeroficha;
}

.form.forminfordoador {
    grid-area: infordoador;
}

.form.forminforobjetos {
    grid-area: inforobjetos;
}

.fieldsetgrid {
    display: grid;
    grid-template-areas: "inforobs inforobs"
                         "objetos0 objetos1";
    column-gap: 10px;
}

.divinforobs {
    grid-area: inforobs;
    display: flex;
    flex-direction: column;
}

.divobjetos0 {
    grid-area: objetos0;
    display: flex;
    flex-direction: column;
}

.divobjetos1 {
    grid-area: objetos1;
    display: flex;
    flex-direction: column;
}

.label {
    color: gray;
}

.label.cursor {
    cursor: pointer;
}

.legend {
    padding: 5px 0;
    text-shadow: 1px 1px 0.5px #AAF998;
}

.form {
    display: flex;
    flex-direction: column;
}

.form .inputtext {
    border-bottom: 0.5px solid #79D1FF;
    border-left: 0.5px solid #79D1FF;
    border-bottom-left-radius: 10px;
    padding: 2px 0 10px 10px;
    width: 250px;
}

.form .divbtn {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.form .divinput {
    display: flex;
    margin: 5px 0;
    justify-content: center;
}

.form .divbtnleft {
    justify-content: start;
}

.ocutar {
    display: none;
}

.form .btninput {
    display: flex;
    cursor: pointer;
    justify-content: center;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: #AAF998;
    text-shadow: 1px 1px 0.5px #79D1FF;
}

.form .btninput:hover {
    background-color: #79D1FF;
    transition: 0.3s ease-in-out;
    text-shadow: 1px 1px 0.5px #AAF998;
}

.fieldsetdoador {
    display: flex;
    flex-direction: column;
}

.indexnav ul {
    display: flex;
    gap: 30px;
    flex-direction: column;
    text-align: center;
}

.btna, .indexnav ul li a {
    font-family: 'emmaus', sans-serif, Arial;
    font-size: 24px;
    text-shadow: 2px 2px #AAF998;
}

.btna:hover, .indexnav ul li a:hover {
    color: #CB6C75;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.btna:active, .indexnav ul li a:active {
    color: #AAF998;
}