@font-face {
    font-family: 'emmaus';
    src: url(../css/fonts/emmaus/Platelet_0.ttf);
}

fieldset[disabled] input, fieldset[disabled] textarea {
    border: none;
}

.body {
    display: flex;
}

.body .container {
    display: flex;
}

.body .main {
    display: grid;
    grid-template-areas: "numeroficha numeroficha"
                         "infordoador inforobjetos";
    column-gap: 10px;
}

.body .main .form.formnumeroficha {
    grid-area: numeroficha;
}

.body .main .form.forminfordoador {
    grid-area: infordoador;
}

.body .main .form.forminforobjetos {
    grid-area: inforobjetos;
}

.body .main .form.forminforobjetos .fieldsetgrid {
    display: grid;
    grid-template-areas: "inforobs inforobs"
                         "objetos0 objetos1";
    column-gap: 10px;
}

.body .main .form.forminforobjetos .fieldsetgrid .divinforobs {
    grid-area: inforobs;
    display: flex;
    flex-direction: column;
}

.body .main .form.forminforobjetos .fieldsetgrid .divobjetos0 {
    grid-area: objetos0;
    display: flex;
    flex-direction: column;
}

.body .main .form.forminforobjetos .fieldsetgrid .divobjetos1 {
    grid-area: objetos1;
    display: flex;
    flex-direction: column;
}

.label {
    color: gray;
}

.label.cursor {
    cursor: pointer;
}

.legend {
    text-shadow: 1px 1px 0.5px #AAF998;
    padding-bottom: 5px;
}

.form.forminfordoador .fieldsetdoador .label.legend.cad-doacao {
    padding-top: 5px;
}

.body .main .form, .body .container .form {
    display: flex;
    flex-direction: column;
}

.form .inputtext {
    border-bottom: 0.5px solid #79D1FF;
    border-left: 0.5px solid #79D1FF;
    border-bottom-left-radius: 10px;
    padding: 2px 0 10px 10px;
    width: 250px;
}

.form .divbtn {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.form .divinput {
    display: flex;
    margin: 5px 0;
    justify-content: center;
}

.form .divbtnleft {
    justify-content: start;
}

.ocutar {
    display: none;
}

.form .btninput {
    display: flex;
    cursor: pointer;
    justify-content: center;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: #AAF998;
    text-shadow: 1px 1px 0.5px #79D1FF;
}

.form .btninput:hover {
    background-color: #79D1FF;
    transition: 0.3s ease-in-out;
    text-shadow: 1px 1px 0.5px #AAF998;
}

.form .fieldsetdoador {
    display: flex;
    flex-direction: column;
}